.button {
	@apply inline-block align-middle text-xs uppercase text-white cursor-pointer tracking-wider;
	line-height: 1.14;
	padding: 16px 20px;
	background-color: #962947;
	transition: background-color 0.3s;
	height: 47px;

	@screen lg {
		@apply text-sm;
		padding: 22px 28px;
		height: 60px;
	}

	&:hover {
		background-color: #b7254d;
	}

	&-extended {
		@apply bg-no-repeat relative;
		padding-right: 67px;

		&:after {
			@apply top-0 w-px block absolute bg-white;
			height: 47px;
			opacity: 0.15;
			content: "";
			right: 47px;
		}

		@screen lg {
			padding-right: 88px;

			&:after {
				height: 60px;
				right: 60px;
			}
		}
	}

	&-arrow {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB0SURBVHgB7ZTRCYAwDEQTJ3CEjuAIdbK6WXCSdgQ3iAf2SynWjyhCHhz5ae8ICSFynNdR1QkKZAXMBcq9IQM9Z4UCJGadwHjRg/x5CDc+R5RE98RaCzQzczk/aM1gpD42sgJdJrM5/Ne8Boj1etqeCse5sANXDnX4W8DhPwAAAABJRU5ErkJggg==");
		background-position: right 13px center;

		@screen lg {
			background-position: right 18px center;
		}
	}

	&-portfolio {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADHSURBVHgB7ZQNDcIwEIWvCwImAQmTUAk4AAeAAiQQJEwBEloUgINaqIPyCl3SNBRoriQs25e83C65v3W7Ek0G59wKOkMKWlNNUHDjnlwhE5533+SKuAjMMhM3TNwHuw32lIk3Qog+nVK5eqihbpN01oKJrxEXbOjHTKwBPl7n96Ekp/QNDpAsSVgkfosJ5Zv4x3//IaaFbK5BBynio3MNbtCeeBxjJ21gsSuaGOD4bOyPfw/SI5L+piI++lUDf71eqA6GZv6GOzJ9nEUg+WHEAAAAAElFTkSuQmCC");
		background-position: right 13px center;

		@screen lg {
			background-position: right 18px center;
		}
	}
}

.button-transparent {
	@apply inline-block align-middle text-xs bg-transparent border uppercase tracking-wider bg-no-repeat;
	line-height: 1.14;
	border-color: #962947;
	color: #962947;
	padding: 14px 58px 14px 20px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADSSURBVHgB7ZIxCsIwFIbfn4o4eoSO1ckj1MHS0WsUB/EErSfo0KFXER3sEZxEcOkRegDJMwGHUlpNBHHJByEP8vJ/LxAih6NNMYvWRRCHNndGNs2CsCWwLivzOz/GCf4vGPxF+Xy1GLPIBbhKrsd9X08ZRKkEQnrI3eZ+uvT1DL5gIr0GRD4zsnIepX3hDGS6R3heM5QDekMZxD6Dz6r0Ac4kq2n1VMyVDldlDcYyuR3qrwRdidobFTh9HX0MNxJ0JTbhxoKOhEzDrdESvcjhaPMExqNPayfuWukAAAAASUVORK5CYII=");
	background-position: right 21px center;

	@screen lg {
		@apply text-sm;
		padding: 16px 58px 16px 24px;
	}

	&:hover {
		box-shadow: 0 0 0 1px #962947;
	}
}

.button-square {
	@apply inline-block align-middle cursor-pointer;
	height: 48px;
	width: 48px;
	background-color: #962947;
	transition: background-color 0.3s;

	&:hover {
		background-color: #b7254d;
	}
}

.button-square-arrow {
	@apply bg-no-repeat bg-center;
}

.button-square-arrow-right {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK+5dAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB/SURBVHgB7ZDRCYAwDERTcQBH6AhdwQ3cSDdwpOIEjtCO4Ab1wHyJWoUGUfLgkZ/mjpRIUf5HSslBS1Ig3MNwt6Si50zQQi92CYKHtBFeLzEnyx3GSHkszwhbY0zcP6gvliPladiFLQeu7PmLZthQSb4bzgVeLJwLnFi4ohyyAqpxd0rPD9tPAAAAAElFTkSuQmCC");
}

.button-square-arrow-left {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABjSURBVHgBzY7BCYBADARXsQBLuBIszQ60s8MKLEFL0ApiAvs65HAfwg1s8smQBV4ws+SZoEDp8OTaXV9KvkKIvUH8FKy/SV1RLzg/ePPg42IgiDdYdfTsrLpAoQk5Q4Vyqt08jC93V+8MM8AAAAAASUVORK5CYII=");
}

.button-disabled {
	@apply cursor-not-allowed;
}
